<p>SELECIONE UM ARQUIVO CSV / OFX</p>
<form [formGroup]="form">
  <input (change)="onArquivoSelecionado($event)" type="file" accept=".csv, .ofx">

</form>


<div class="conteudo">
  @if (csvData$ | async; as itens) {
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Identificador</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>

        @for (item of itens; track $index) {
          <tr>
            @for (param of item | keyvalue; track $index) {
              <td> <p>{{ param.value }}</p> </td>
            }
          </tr>
        }
      </tbody>
    </table>

  }


</div>